$fz-title:18px;
$fz-discription-rp:14px;

@media screen and (min-width: 1101px) and (max-width: 1200px) {
    .list-carried ul {
        overflow-x: scroll;
        overflow-y: hidden;
        height: 55px;
    }

    .list-carried ul li a {
        font-size: 0;
    }

    header .nav a,header .nav .navbar-nav .nav-item .nav-link {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
    .fix-width {
        max-width: 25%;
        flex: 0 0 100%;
    }

    .list-carried ul {
        overflow-x: scroll;
        overflow-y: hidden;
        height: 55px;
    }

    header .header-top .search input,
    header .header-top .search .btn-search,
    header .header-top .phone,
    header .header-top .shopping-bag,
    header .nav {
        display: none;
    }

    .mm-toggle {
        float: right;
    }

    .mm-toggle-wrap {
        background: transparent;
        display: block;
    }

    .mobile-menu .mm-search {
        background: transparent;
    }

    .logo h1 {
        display: none;
    }

    .header-top .mobile-menu a {
        color: black;
    }

    .header-top .mobile-menu li {
        padding: 0;
    }

    #page {
        top: -15px;
    }

    .list-carried ul li a {
        font-size: 0;
    }
}

@media screen and (min-width: 240px) and (max-width: 767px) {
    .fix-width {
        max-width: 50%;
        flex: 0 0 100%;
    }

    .product-top .card .card-body .card-text,
    .product-wholesale-price .card .card-body .card-text {
        font-size: $fz-discription-rp;
    }

    .list-carried ul {
        overflow-x: scroll;
        overflow-y: hidden;
        height: 55px;
    }

    .list-carried ul li a {
        font-size: 0;
    }

    header .header-top .search input,
    header .header-top .search .btn-search,
    header .header-top .phone,
    header .header-top .shopping-bag,
    header .nav {
        display: none;
    }

    .banner img {
        height: 30vh;
    }

    .banner .owl-dots {
        display: none;
    }

    .discription-ft {
        text-align: center;
    }

    .footer img {
        width: 50%;
    }

    .cptr p {
        font-size: $fz-discription-rp;
        text-align: center !important;
    }

    .lg-ft {
        text-align: center;
    }

    .list-carried ul li {
        padding: 10px 21px;
    }

    .mm-toggle {
        float: right;
    }

    .mm-toggle-wrap {
        background: transparent;
        display: block;
    }

    .mobile-menu .mm-search {
        background: transparent;
    }

    .logo h1 {
        display: none;
    }

    .header-top .mobile-menu a {
        color: black;
    }

    .header-top .mobile-menu li {
        padding: 0;
    }

    #page {
        top: -15px;
    }
    .product-detail .camketbanhag{
        width: 100%;
        margin-top: 30px;
    }
    .product-detail h2, .product-detail h4{
        font-size: $fz-title;
    }
    .product-detail .price p{
        font-size: $fz-discription-rp;
    }
    .discription-product{
        font-size: $fz-discription-rp;
    }
    .fix-mg{
        margin-top: 30px;
    }
    .sp-lienquan{
        display: none;
    }
    .product-detail .price .touchpin .input-group{
        width: 100px;
    }
    .product-detail .price .btn-add-card .btn-check-shop{
        padding: 15px 25px;
    }
    .product-detail .breadcrumb li{
        font-size: 12px;
    }
    .breadcrumb-item+.breadcrumb-item::before{
        padding: 0 5px 0 5px;
    }
    .product-detail .lSSlideOuter .lSPager.lSGallery img{
        height: auto;
    }
    .san-pham-all .plc{
        display: none;
    }
    .product-top .card-img-top,.san-pham-all .card-img-top {
        height: 120px;
    }
    select{
        width: 25%;
    }
    .hotline-sp{
        display: none;
    }
}