.container {
  max-width: 1250px; }

.fix-width {
  flex: 0 0 20%;
  max-width: 20%; }

.clear-fix {
  clear: both; }

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none; }

select {
  display: block; }

figure {
  margin: 0; }

a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

iframe {
  border: 0; }

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0; }

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  text-decoration: none;
  outline: 0; }

.clear::before,
.clear::after {
  content: " ";
  display: table; }

.clear::after {
  clear: both; }

.line-top {
  background: #fff200;
  width: 100%;
  height: 1px; }

header .header-top {
  background: #000000; }
  header .header-top ul li {
    list-style: none;
    padding: 0 3px;
    color: white; }
    header .header-top ul li a {
      color: white;
      font-family: "UTM Avo"; }
      header .header-top ul li a img {
        margin-top: -3px; }
  header .header-top .logo img {
    width: 60%; }
  header .header-top .search input {
    border: none;
    outline: none;
    width: 350px;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
    height: 40px;
    font-family: "UTM Avo";
    font-style: italic; }
  header .header-top .search .btn-search {
    color: #fff200;
    position: absolute;
    top: 25%;
    left: 85%; }
    header .header-top .search .btn-search .fa-search {
      font-size: 25px; }
  header .header-top .phone {
    margin-top: 30px; }
    header .header-top .phone a {
      font-size: 25px;
      color: #fff200;
      font-style: italic;
      font-weight: bold;
      font-family: "UTM Avo"; }
      header .header-top .phone a img {
        margin-top: -15px;
        padding-right: 5px; }
  header .header-top .shopping-bag {
    margin-top: 35px;
    position: relative; }
    header .header-top .shopping-bag::before {
      content: '';
      position: absolute;
      background: #fff200;
      width: 2px;
      height: 40%;
      top: 0;
      left: 20%; }
    header .header-top .shopping-bag a {
      font-size: 14px;
      color: white;
      font-family: "UTM Avo"; }
    header .header-top .shopping-bag .check-card {
      width: 21px;
      height: 21px;
      border-radius: 50%;
      background: red;
      position: absolute;
      top: -25%;
      left: 46%; }
      header .header-top .shopping-bag .check-card a {
        color: white;
        position: absolute;
        left: 30%; }
header .nav {
  background: #fff200; }
  header .nav .is-menu {
    padding: 5px 0px; }
    header .nav .is-menu:hover .lv2 {
      display: block;
      pointer-events: all; }
    header .nav .is-menu .lv2 {
      position: absolute;
      top: 100%;
      z-index: 999;
      display: none;
      pointer-events: none; }
      header .nav .is-menu .lv2 .is-menu-1 {
        width: 270px;
        background: white;
        box-shadow: 0px 5px 10px 0px; }
        header .nav .is-menu .lv2 .is-menu-1 .is-active:hover .is-children {
          display: block;
          pointer-events: all; }
        header .nav .is-menu .lv2 .is-menu-1 .bd-lv2 {
          position: relative;
          padding: 10px;
          border-bottom: 1px solid #efefef; }
          header .nav .is-menu .lv2 .is-menu-1 .bd-lv2:hover {
            background: #fff200; }
          header .nav .is-menu .lv2 .is-menu-1 .bd-lv2::before {
            position: absolute;
            content: '';
            width: 1px;
            top: 0;
            left: 15%;
            height: 100%;
            background: #efefef; }
          header .nav .is-menu .lv2 .is-menu-1 .bd-lv2 a {
            color: #000000;
            font-weight: normal; }
            header .nav .is-menu .lv2 .is-menu-1 .bd-lv2 a img {
              padding-right: 30px;
              height: 100%;
              margin-left: 5px; }
            header .nav .is-menu .lv2 .is-menu-1 .bd-lv2 a .fa-chevron-right {
              position: absolute;
              left: 90%;
              top: 15px; }
        header .nav .is-menu .lv2 .is-menu-1 .is-children {
          position: absolute;
          left: 100%;
          margin-left: 1px;
          width: 200px;
          background: white;
          top: 0;
          display: none;
          pointer-events: none; }
          header .nav .is-menu .lv2 .is-menu-1 .is-children .is-menu-2 li {
            padding: 10px;
            border-bottom: 1px solid #efefef; }
            header .nav .is-menu .lv2 .is-menu-1 .is-children .is-menu-2 li:hover {
              background: #ffd100; }
  header .nav a {
    text-transform: uppercase;
    font-weight: 600;
    font-family: "UTM Avo"; }
    header .nav a img {
      margin-top: -5px; }
  header .nav .navbar-nav .nav-item .nav-link {
    font-size: 18px;
    padding: 0 30px;
    color: black; }
    header .nav .navbar-nav .nav-item .nav-link .fa-home {
      font-size: 25px; }

.banner img {
  height: 70vh;
  object-fit: cover;
  object-position: center; }
.banner .owl-dots {
  position: absolute;
  top: 90%;
  left: 50%; }
.banner .owl-theme .owl-dots .owl-dot.active span,
.banner .owl-theme .owl-dots .owl-dot:hover span {
  background: #ffd100; }
.banner .owl-theme .owl-dots .owl-dot span {
  background: #000000; }
.banner .owl-theme .owl-dots .owl-dot:focus {
  outline: none;
  border: none; }

.list-carried {
  margin: 20px 0; }
  .list-carried ul {
    display: flex; }
    .list-carried ul li {
      border: 1px solid #d6cece;
      padding: 10px 18px; }
      .list-carried ul li a {
        color: #73cbdc;
        font-family: 14px;
        font-size: 14px; }

.product-top h1 {
  font-size: 18px;
  font-family: "UTM Avo";
  background: #fff200;
  padding: 8px 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic; }
.product-top .card {
  border: none; }
  .product-top .card:hover {
    box-shadow: -1px 1px 10px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease; }
  .product-top .card .card-body {
    padding: 10px 10px; }
    .product-top .card .card-body .card-title {
      font-size: 14px;
      font-family: "UTM Avo";
      color: #000000;
      margin-bottom: 5px !important; }
    .product-top .card .card-body .card-text {
      color: red; }
      .product-top .card .card-body .card-text span {
        text-decoration: line-through; }

.product-wholesale-price h1 {
  font-size: 18px;
  font-family: "UTM Avo";
  background: #fff200;
  padding: 8px 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic; }
.product-wholesale-price .card {
  border: none; }
  .product-wholesale-price .card:hover {
    box-shadow: -1px 1px 10px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease; }
  .product-wholesale-price .card .card-body {
    padding: 10px 10px; }
    .product-wholesale-price .card .card-body .card-title {
      font-size: 14px;
      font-family: "UTM Avo";
      color: #000000;
      margin-bottom: 5px !important; }
    .product-wholesale-price .card .card-body .card-text {
      color: red; }
      .product-wholesale-price .card .card-body .card-text span {
        text-decoration: line-through; }

.footer {
  background: #000000; }
  .footer span {
    color: white;
    font-family: "UTM Avo"; }
  .footer .discription-ft a {
    display: block;
    font-weight: bold;
    color: white;
    font-family: "UTM Avo"; }
    .footer .discription-ft a span {
      text-transform: none;
      color: white;
      font-weight: normal;
      font-size: 14px; }

.cptr {
  background: #ffd100; }

/*# sourceMappingURL=style.css.map */
